.footer{
     max-width : 100% ; 
     height : 200px ; 
    display : flex ; 
    justify-content: space-between;
    /* border : 1px solid white ;  */
    color : #bacfc5 ; 
} 
.left_footer{
    max-width : 50%;
    /* border : 1px solid white; */
    font-size: 13px  ; 
    
}  

.left_footer>div{
    /* margin-left : 30px ;  */
    margin-top: 60px ; ;
    font-weight: 700;
} 
.left_footer>div>span{
    margin-left: 30px ; ;
}
.left_footer>p{
    margin-left : 30px ; 
    text-align :left;
}
.right_footer{
    min-width : 50%;
    /* border : 1px solid white; */
    display: flex ;  
   justify-content :space-around  ; 
    align-content: center;
     
}

.contact,.store{ 
     font-size : 14px ; 
    align-content: center;
     /* margin-top: 50px ; ; */
     width : 120px ; 
    /* border : 1px solid white ;  */
    height : 100px ; 
    margin-top:40px ; 
}  
.contact>p{
    margin-left : 10px ; 
    font-weight: bolder;
}
.contact>a>span>i{
    font-size : 45px ; 
    margin-left: 13px ; ;
    cursor: pointer;
    color : white ; 
  
    
} 
.contact>a>span>i:hover , .store>a>span:hover{
   color: #1f80e0 ; 
  
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.store{
     width : 300px ; 
     cursor: pointer;
} 
.store>p{
    margin-left: 20px ;
    font-weight: bolder;
}
.store>a>span>i{
    font-size : 45px ; 
    margin-left : 20px ; 
    color : white ; 
  
}
