
.carousel-cell{
    width : 100%;
    height : 450px; 
    margin-right : 10px;
    /* margin-top: 100px; */
    /* background: #202124 ; */
} 
 .carousel-cell:before{
     display : block;
 } 

 .carousel1>div:nth-child(1){
    margin-left: 100px;
}
.carousel-cell1 {
   
 width: 28%;
 height: 400px;
 margin-right: 100px;
 background: #f8f7f5;
 border-radius: 5px;
 text-align: center;
 /* counter-increment: carousel-cell1; */
}
.carousel-cell1:before {
 display: block;
 text-align: center;
 /* content: counter(carousel-cell1); */
 line-height: 10px;
 font-size: 80px;
 color: white;
} 

.carousel1 {
    background: #202124 ;
  }  

 .image1{ 
     margin-top : 5px ; 
     margin-left : 5px ; 
    border-radius : 20px ; 
     width : 100% ; 
 }